
  .tickerForm {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
  }
  
  .row {
    display: grid;
    grid-template-columns: 2.5rem 1fr 6rem;
    grid-template-rows: 2;
    grid-gap: 0.5rem;
  }
  
  .formGroup {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
  }